<link href="~/Content/stylefordoc.css" rel="stylesheet" />
<section>
    <div class="grid-flex">
        <div class="col col-image img-fluid rounded" style="background-image: url(/Content/img/f1.gif);">
        </div>
        <div class="col col-text">
            <div class="Aligner-item">
                <p>
                    <h4><span class="dot">1</span> First, insert your data into DrawGraphs</h4>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image img-fluid rounded" style="background-image: url(/Content/img/f2.gif);">
            &nbsp;
        </div>
        <div class="col col-text col-left">
            <div class="Aligner-item">
                <p>
                    <h4><span class="dot">2</span> Choose within wide range of visual models</h4>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image img-fluid rounded" style="background-image: url(/Content/img/f3.gif);">
            &nbsp;
        </div>
        <div class="col col-text">
            <div class="Aligner-item">
                <p>
                    <h4><span class="dot">3</span> Tune your chart and explore your data</h4>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image img-fluid rounded" style="background-image: url(/Content/img/f5.gif);">
            &nbsp;
        </div>
        <div class="col col-text col-left">
            <div class="Aligner-item">
                <p>
                    <h4><span class="dot">4</span> Transform or normalize your data</h4>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image img-fluid rounded" style="background-image: url(/Content/img/f4.gif);">
            &nbsp;
        </div>
        <div class="col col-text">
            <div class="Aligner-item">

                <h4><span class="dot">5</span> Export and go anywhere</h4>
            </div>
        </div>
    </div>
</section>